{% extends "base.html" %}

{% block content %}
    <div class="list-group">
        <h2 class="text-center list-group-item list-group-item-action active">Company Name: {{ object.name }}</h2>
        <p class="list-group-item list-group-item-action text-center">Country: {{ object.country }}</p>
        <p class="list-group-item list-group-item-action text-center">City: {{ object.city }}</p>
        <p class="list-group-item list-group-item-action text-center">Address: {{ object.address }}</p>
    </div>
    <br>
    <div class="text-center list-group">
        <h4 class="list-group-item list-group-item-primary">List of Cars that this company sells</h4>
        {% for car in object.car_list.all %}
            <a href="/{{ car.pk }}/" class="list-group-item list-group-item-action">{{ car }}</a>
        {% endfor %}
    </div>

{% endblock content %}