{% extends 'base.html' %}

{% block content %}
    <div class="m-5 ">
        <form method="post">{% csrf_token %}
            {% if object.car_list.count > 0 %}
                <h4 class="mb-2">If you delete "{{ object.name }}", all the cars following are going to be deleted:</h4>
                <ul class="list-group">
                    {% for car in object.car_list.all %}
                        <li class="list-group-item list-group-item-danger p-1 pl-3 my-1 rounded-pill">
                            Brand: {{ car.brand }} --- Model: {{ car.model }}</li>
                    {% endfor %}
                </ul>
                <h4 class="mb-2">Are you going to delete them?</h4>
            {% else %}
                <h4 class="mb-2">Are you going to delete {{ object.name }}</h4>
            {% endif %}

            <input class="btn btn-danger m-2" type="submit" value="Confirm">
            <a href="{% url 'seller_list' %}" class="btn btn-primary  m-2">Cancel</a>
        </form>
    </div>
{% endblock %}