{% extends "base.html" %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item mt-1">
            <a class="nav-link active" href="#"><h3>Cars</h3></a>
        </li>
        <li class="nav-item mt-1">
            <a class="nav-link  " href="/seller_list"><h3>Sellers</h3></a>
        </li>
    </ul>

    <form action="/car_list/new/" method="post">
        {% csrf_token %}
        <button class="btn btn-lg btn-primary m-3">Add Car</button>
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Seller</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% if car_list %}
            {% for c in car_list %}
                <tr>
                    <th scope="row">{{ c.brand }}</th>
                    <td>{{ c.model }}</td>
                    <td>{{ c.year }}</td>
                    <td><a class="text-info" href="/seller{{ c.seller.id }}">{{ c.seller }}</a></td>
                    <td><a class="btn mr-2 btn-sm btn-outline-primary" href="/{{ c.pk }}/">Display</a></td>
                    <td>
                        <a href="edit/{{ c.pk }}/" class="btn mr-2 btn-sm btn-outline-warning">Edit</a>
                    </td>
                    <td>
                        <a href="delete_car/{{ c.pk }}/" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            {% if is_paginated %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% url "index" %}?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        <li class="page-item"><span class="page-link">{{ page_obj.number }}</span></li>
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{% url "index" %}?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            {% endif %}
        {% endif %}

    </table>
{% endblock content %}