{% extends "base.html" %}

{% block content %}
    <div class="ml-5 border-top">
        <form action="new/" method="POST">
            <h2 class="text-dark px-3">Edit car</h2>
            <br>
            {% csrf_token %}
            <div>
                <label class="col-sm-2 col-form-label" for="car-brand">Brand:</label>
                <div class="col-sm-4">
                    <input type="text" name="car_brand" id="car-brand" maxlength="20" value="{{ brand }}" required/>
                </div>
            </div>
            <br>
            <div>
                <label class="col-sm-2 col-form-label" for="car-model">Model:</label>
                <div class="col-sm-4">
                    <input type="text" name="car_model" id="car-model" maxlength="20" value="{{ model }}" required/>
                </div>
            </div>
            <br>
            <div>
                <label class="col-sm-2 col-form-label" for="car-year">Year:</label>
                <div class="col-sm-4">
                    <input type="number" name="car_year" id="car-year" maxlength="4" value="{{ year }}" required/>
                </div>
            </div>
            <br>

            <button type="submit" class="btn btn-lg btn-outline-warning m-3">Edit</button>
        </form>
    </div>
{% endblock content %}