{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="height: 10vh"></div>
    <div style="width: 300px" class="mx-auto">
        <form class="mx-auto mt-5 " method="POST">{% csrf_token %}
            <div class="mx-auto mt-5 border  p-3 shadow p-3 mb-5 bg-white rounded">
                <h2 class="text-center mb-4 border-bottom pb-2">Sign up</h2>
                {{ form | crispy }}
                <button class="btn btn-info" type="submit">Sign up</button>
            </div>
        </form>
    </div>

{% endblock content %}